*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 10px;
    box-shadow: 0 5px 20px black;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav li {
    list-style: none;
    
}

a {
    text-decoration: none;
}

.section {
    width: 100%;
    padding: 50px;
    text-align: center;
}
.sorteio {
    margin: 10px;
}

.buttons {
    width: 100%;
}

.nomes {
    margin: 10px;
}

.button {
    width: 100px;
    min-height: 30px;
    background-color: rgb(214, 214, 214);
    border-width: .1px;
    transition: all .5s;
    display: block;
    margin: 10px auto;
}
.button:hover {
    background-color: rgb(146, 146, 146);
}

#adicionar, #sorteio {
    height: 30px;
    width: 100px;
}

#nome {
    width: 200px;
    height: 30px;
    text-align: center;
}
